example/sample-flow.json
[{"id":"ae64ac50180c9d6c","type":"debug","z":"0dc467f7a28ca941","name":"file path","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":760,"y":1140,"wires":[]},{"id":"fba37bfd92fd9605","type":"inject","z":"0dc467f7a28ca941","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ボイスボックス用のノードです。","payloadType":"str","_mcu":{"mcu":false},"x":350,"y":1180,"wires":[[2]]},{"id":"177dac96074e47d1","type":"play audio","z":"0dc467f7a28ca941","name":"","voice":"","_mcu":{"mcu":false},"x":950,"y":1180,"wires":[]},{"id":"1634fd1304041718","type":"file in","z":"0dc467f7a28ca941","name":"","filename":"payload","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"_mcu":{"mcu":false},"x":760,"y":1180,"wires":[["177dac96074e47d1","6248a36101eecccb"]]},{"id":"92eb96f224163cfb","type":"inject","z":"0dc467f7a28ca941","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"はじめまして","payloadType":"str","_mcu":{"mcu":false},"x":410,"y":1140,"wires":[[2]]},{"id":2,"type":"voicevox","z":"0dc467f7a28ca941","name":"","_mcu":{"mcu":false},"x":600,"y":1180,"wires":[["ae64ac50180c9d6c","1634fd1304041718"]]},{"id":"45eab6525c14762b","type":"inject","z":"0dc467f7a28ca941","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"日本語の音声を出力します。","payloadType":"str","_mcu":{"mcu":false},"x":360,"y":1220,"wires":[[2]]},{"id":"f4385eb8cd31466c","type":"http in","z":"0dc467f7a28ca941","name":"","url":"/voice","method":"post","upload":false,"swaggerDoc":"","_mcu":{"mcu":false},"x":420,"y":1260,"wires":[[2]]},{"id":"6248a36101eecccb","type":"http response","z":"0dc467f7a28ca941","name":"","statusCode":"","headers":{},"_mcu":{"mcu":false},"x":930,"y":1240,"wires":[]},{"id":"d9786f9f0a06857d","type":"http request","z":"0dc467f7a28ca941","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/voice","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"_mcu":{"mcu":false},"x":690,"y":1340,"wires":[["5fb83812ff8d61c2","a6d9551a5b9f9a5c"]]},{"id":"b3bf943bae1e170a","type":"inject","z":"0dc467f7a28ca941","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"他のノードと組み合わせて使うことができます。","payloadType":"str","_mcu":{"mcu":false},"x":400,"y":1340,"wires":[["d9786f9f0a06857d"]]},{"id":"0cf3abd14f401d06","type":"play audio","z":"0dc467f7a28ca941","name":"","voice":"0","_mcu":{"mcu":false},"x":1110,"y":1340,"wires":[]},{"id":"5fb83812ff8d61c2","type":"debug","z":"0dc467f7a28ca941","name":"http","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":850,"y":1380,"wires":[]},{"id":"a6d9551a5b9f9a5c","type":"change","z":"0dc467f7a28ca941","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"RIFF$","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":900,"y":1340,"wires":[["0cf3abd14f401d06"]]}]