examples/id-list.json
[{"id":"2b3fbf7d54feeea5","type":"inject","z":"0c79c8ac29d7fcec","name":"List","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"0\":\"四国めたん, あまあま\",\"1\":\"ずんだもん, あまあま\",\"2\":\"四国めたん, ノーマル\",\"3\":\"ずんだもん, ノーマル\",\"4\":\"四国めたん, セクシー\",\"5\":\"ずんだもん, セクシー\",\"6\":\"四国めたん, ツンツン\",\"7\":\"ずんだもん, ツンツン\",\"8\":\"春日部つむぎ, ノーマル\",\"9\":\"波音リツ, ノーマル\",\"10\":\"雨晴はう, ノーマル\",\"11\":\"玄野武宏, ノーマル\",\"12\":\"白上虎太郎, ふつう\",\"13\":\"青山龍星, ノーマル\",\"14\":\"冥鳴ひまり, ノーマル\",\"15\":\"九州そら, あまあま\",\"16\":\"九州そら, ノーマル\",\"17\":\"九州そら, セクシー\",\"18\":\"九州そら, ツンツン\",\"19\":\"九州そら, ささやき\",\"20\":\"もち子さん, ノーマル\",\"21\":\"剣崎雌雄, ノーマル\",\"22\":\"ずんだもん, ささやき\",\"23\":\"WhiteCUL, ノーマル\",\"24\":\"WhiteCUL, たのしい\",\"25\":\"WhiteCUL, かなしい\",\"26\":\"WhiteCUL, びえーん\",\"27\":\"後鬼, 人間ver.\",\"28\":\"後鬼, ぬいぐるみver.\",\"29\":\"No.7, ノーマル\",\"30\":\"No.7, アナウンス\",\"31\":\"No.7, 読み聞かせ\",\"32\":\"白上虎太郎, わーい\",\"33\":\"白上虎太郎, びくびく\",\"34\":\"白上虎太郎, おこ\",\"35\":\"白上虎太郎, びえーん\",\"36\":\"四国めたん, ささやき\",\"37\":\"四国めたん, ヒソヒソ\",\"38\":\"ずんだもん, ヒソヒソ\",\"39\":\"玄野武宏, 喜び\",\"40\":\"玄野武宏, ツンギレ\",\"41\":\"玄野武宏, 悲しみ\",\"42\":\"ちび式じい, ノーマル\",\"43\":\"櫻歌ミコ, ノーマル\",\"44\":\"櫻歌ミコ, 第二形態\",\"45\":\"櫻歌ミコ, ロリ\",\"46\":\"小夜/SAYO, ノーマル\",\"47\":\"ナースロボ＿タイプＴ, ノーマル\",\"48\":\"ナースロボ＿タイプＴ, 楽々\",\"49\":\"ナースロボ＿タイプＴ, 恐怖\",\"50\":\"ナースロボ＿タイプＴ, 内緒話\",\"51\":\"†聖騎士 紅桜†, ノーマル\",\"52\":\"雀松朱司, ノーマル\",\"53\":\"麒ヶ島宗麟, ノーマル\",\"54\":\"春歌ナナ, ノーマル\",\"55\":\"猫使アル, ノーマル\",\"56\":\"猫使アル, おちつき\",\"57\":\"猫使アル, うきうき\",\"58\":\"猫使ビィ, ノーマル\",\"59\":\"猫使ビィ, おちつき\",\"60\":\"猫使ビィ, 人見知り\",\"61\":\"中国うさぎ, ノーマル\",\"62\":\"中国うさぎ, おどろき\",\"63\":\"中国うさぎ, こわがり\",\"64\":\"中国うさぎ, へろへろ\",\"65\":\"波音リツ, クイーン\",\"66\":\"もち子さん, セクシー／あん子\",\"67\":\"栗田まろん, ノーマル\",\"68\":\"あいえるたん, ノーマル\",\"69\":\"満別花丸, ノーマル\",\"70\":\"満別花丸, 元気\",\"71\":\"満別花丸, ささやき\",\"72\":\"満別花丸, ぶりっ子\",\"73\":\"満別花丸, ボーイ\",\"74\":\"琴詠ニア, ノーマル\",\"75\":\"ずんだもん, ヘロヘロ\",\"76\":\"ずんだもん, なみだめ\",\"77\":\"もち子さん, 泣き\",\"78\":\"もち子さん, 怒り\",\"79\":\"もち子さん, 喜び\",\"80\":\"もち子さん, のんびり\",\"81\":\"青山龍星, 熱血\",\"82\":\"青山龍星, 不機嫌\",\"83\":\"青山龍星, 喜び\",\"84\":\"青山龍星, しっとり\",\"85\":\"青山龍星, かなしみ\",\"86\":\"青山龍星, 囁き\",\"3000\":\"四国めたん, あまあま\",\"3001\":\"ずんだもん, あまあま\",\"3002\":\"四国めたん, ノーマル\",\"3003\":\"ずんだもん, ノーマル\",\"3004\":\"四国めたん, セクシー\",\"3005\":\"ずんだもん, セクシー\",\"3006\":\"四国めたん, ツンツン\",\"3007\":\"ずんだもん, ツンツン\",\"3008\":\"春日部つむぎ, ノーマル\",\"3009\":\"波音リツ, ノーマル\",\"3010\":\"雨晴はう, ノーマル\",\"3011\":\"玄野武宏, ノーマル\",\"3012\":\"白上虎太郎, ふつう\",\"3013\":\"青山龍星, ノーマル\",\"3014\":\"冥鳴ひまり, ノーマル\",\"3015\":\"九州そら, あまあま\",\"3016\":\"九州そら, ノーマル\",\"3017\":\"九州そら, セクシー\",\"3018\":\"九州そら, ツンツン\",\"3020\":\"もち子さん, ノーマル\",\"3021\":\"剣崎雌雄, ノーマル\",\"3023\":\"WhiteCUL, ノーマル\",\"3024\":\"WhiteCUL, たのしい\",\"3025\":\"WhiteCUL, かなしい\",\"3026\":\"WhiteCUL, びえーん\",\"3027\":\"後鬼, 人間ver.\",\"3028\":\"後鬼, ぬいぐるみver.\",\"3029\":\"No.7, ノーマル\",\"3030\":\"No.7, アナウンス\",\"3031\":\"No.7, 読み聞かせ\",\"3032\":\"白上虎太郎, わーい\",\"3033\":\"白上虎太郎, びくびく\",\"3034\":\"白上虎太郎, おこ\",\"3035\":\"白上虎太郎, びえーん\",\"3037\":\"四国めたん, ヒソヒソ\",\"3038\":\"ずんだもん, ヒソヒソ\",\"3039\":\"玄野武宏, 喜び\",\"3040\":\"玄野武宏, ツンギレ\",\"3041\":\"玄野武宏, 悲しみ\",\"3042\":\"ちび式じい, ノーマル\",\"3043\":\"櫻歌ミコ, ノーマル\",\"3044\":\"櫻歌ミコ, 第二形態\",\"3045\":\"櫻歌ミコ, ロリ\",\"3046\":\"小夜/SAYO, ノーマル\",\"3047\":\"ナースロボ＿タイプＴ, ノーマル\",\"3048\":\"ナースロボ＿タイプＴ, 楽々\",\"3049\":\"ナースロボ＿タイプＴ, 恐怖\",\"3051\":\"†聖騎士 紅桜†, ノーマル\",\"3052\":\"雀松朱司, ノーマル\",\"3053\":\"麒ヶ島宗麟, ノーマル\",\"3054\":\"春歌ナナ, ノーマル\",\"3055\":\"猫使アル, ノーマル\",\"3056\":\"猫使アル, おちつき\",\"3057\":\"猫使アル, うきうき\",\"3058\":\"猫使ビィ, ノーマル\",\"3059\":\"猫使ビィ, おちつき\",\"3061\":\"中国うさぎ, ノーマル\",\"3062\":\"中国うさぎ, おどろき\",\"3063\":\"中国うさぎ, こわがり\",\"3064\":\"中国うさぎ, へろへろ\",\"3065\":\"波音リツ, クイーン\",\"3066\":\"もち子さん, セクシー／あん子\",\"3067\":\"栗田まろん, ノーマル\",\"3068\":\"あいえるたん, ノーマル\",\"3069\":\"満別花丸, ノーマル\",\"3070\":\"満別花丸, 元気\",\"3071\":\"満別花丸, ささやき\",\"3072\":\"満別花丸, ぶりっ子\",\"3073\":\"満別花丸, ボーイ\",\"3074\":\"琴詠ニア, ノーマル\",\"3075\":\"ずんだもん, ヘロヘロ\",\"3076\":\"ずんだもん, なみだめ\",\"3077\":\"もち子さん, 泣き\",\"3078\":\"もち子さん, 怒り\",\"3079\":\"もち子さん, 喜び\",\"3080\":\"もち子さん, のんびり\",\"3081\":\"青山龍星, 熱血\",\"3082\":\"青山龍星, 不機嫌\",\"3083\":\"青山龍星, 喜び\",\"3084\":\"青山龍星, しっとり\",\"3085\":\"青山龍星, かなしみ\",\"6000\":\"波音リツ, ノーマル\"}","payloadType":"json","_mcu":{"mcu":false},"x":230,"y":320,"wires":[["dccf39cb1fe9a4fa","1544358c0feffa33"]]},{"id":"233c67900e52b97a","type":"template","z":"0c79c8ac29d7fcec","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<option value=\"{{key}}\">{{key}}:{{payload}}</option>","output":"str","_mcu":{"mcu":false},"x":520,"y":320,"wires":[["3288c7ddc85259ea"]]},{"id":"2411f1408b233c81","type":"debug","z":"0c79c8ac29d7fcec","name":"HTML","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":820,"y":320,"wires":[]},{"id":"dccf39cb1fe9a4fa","type":"split","z":"0c79c8ac29d7fcec","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","_mcu":{"mcu":false},"x":370,"y":320,"wires":[["233c67900e52b97a"]]},{"id":"3288c7ddc85259ea","type":"join","z":"0c79c8ac29d7fcec","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"20","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","_mcu":{"mcu":false},"x":670,"y":320,"wires":[["2411f1408b233c81","79a7b8957b9b6874"]]},{"id":"79a7b8957b9b6874","type":"file","z":"0c79c8ac29d7fcec","name":"","filename":"voicevox_id_list.text","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","_mcu":{"mcu":false},"x":860,"y":360,"wires":[[]]},{"id":"1544358c0feffa33","type":"file","z":"0c79c8ac29d7fcec","name":"","filename":"voicevox_id_list.text","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","_mcu":{"mcu":false},"x":440,"y":360,"wires":[[]]}]