examples/msg-test.json
[{"id":"d1209dc1cf48e2b6","type":"voicevox","z":"56bbb97c3311cd12","name":"","voiceID":2,"voiceFolder":"","_mcu":{"mcu":false},"x":1080,"y":360,"wires":[["00e97649ca35bcfe"]]},{"id":"fa3a8993ce3948ba","type":"inject","z":"56bbb97c3311cd12","name":"","props":[{"p":"payload"},{"p":"voiceID","v":"3","vt":"num"},{"p":"voiceFolder","v":"C://Voice","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"テスト","payloadType":"str","_mcu":{"mcu":false},"x":930,"y":360,"wires":[["d1209dc1cf48e2b6"]]},{"id":"00e97649ca35bcfe","type":"debug","z":"56bbb97c3311cd12","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":1240,"y":360,"wires":[]}]