examples/multiple-test.json
[{"id":2,"type":"voicevox","z":"56bbb97c3311cd12","name":"","voiceID":"1","_mcu":{"mcu":false},"x":640,"y":500,"wires":[["f1cd1819aaf3411f"]]},{"id":"8838ae14a1c3c0e8","type":"inject","z":"56bbb97c3311cd12","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"こんにちは","payloadType":"str","_mcu":{"mcu":false},"x":480,"y":500,"wires":[[2]]},{"id":"f1cd1819aaf3411f","type":"debug","z":"56bbb97c3311cd12","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":800,"y":500,"wires":[]},{"id":"0f1b7fbc38d0e8c4","type":"voicevox","z":"56bbb97c3311cd12","name":"","voiceID":"2","_mcu":{"mcu":false},"x":640,"y":440,"wires":[["f1cd1819aaf3411f"]]},{"id":"a3d662bdcc10c13a","type":"voicevox","z":"56bbb97c3311cd12","name":"","voiceID":"6","_mcu":{"mcu":false},"x":640,"y":380,"wires":[["f1cd1819aaf3411f"]]},{"id":"6b3fa052596a7d30","type":"inject","z":"56bbb97c3311cd12","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"こんにちは","payloadType":"str","_mcu":{"mcu":false},"x":480,"y":440,"wires":[["0f1b7fbc38d0e8c4"]]},{"id":"9a432e852c8de304","type":"inject","z":"56bbb97c3311cd12","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"こんにちは","payloadType":"str","_mcu":{"mcu":false},"x":480,"y":380,"wires":[["a3d662bdcc10c13a","0f1b7fbc38d0e8c4",2]]}]